---
layout: default
---
			<figure>
			<img src="images/face.jpg" alt="" class="flex-img">
			</figure>
	<h1>Portfolio</h1>
	<div class="characteristics">		
	<p class="intro"><div id="thumbwrap">
	
	{% for art in site.pages %}
	{% if art.category == "art" %}
	<a class="thumb"><span><img src="images/{{art.image}}"></span></a>
	{% endif %}
	{% endfor %}
	</div>

<div class="socialmedia"> <a href="https://www.facebook.com/LauraHarveyDesign?fref=ts">
				<img src="images/facebook-01.png" alt="Facebook" width="72" height="72"></a>
			<a href="http://www.linkedin.com/profile/view?id=219407849&trk=tab_pro">
				<img src="images/linkedin-03.png" alt="Linked in" width="72" height="72"></a>
			<a href="https://twitter.com/laurahcreative">
				<img src="images/twitter-02.png" alt="Twitter" width="72" height="72"></a></div></p>
						

	</article>
